<div class="content">
	<h1>About.</h1>
	<h3>What is Resume Review?</h3>
	<p>Resume Review is a resume feedback tool, built to provide quick and 			quality feedback on the first most crucial step of the employment process. We know how valuable a critiqued and perfected resume is to opening the door to interviews and we have created a platform that will help you revise your resume until it is perfect. 
	</p>
	<h3>Why did you create Resume Review?</h3>
	<p>
		We know the scenario all too well: You are ready to enter the job market (for the first time or just the next of many), you dig up your resume or throw one together. As you are looking it over, you may <i>think</i> it's good, but do you really know? All of these questions start coming up: Is this a competitive resume? Will this help me get an interview? Am I hitting on the right points? With all of these questions where do you turn? Maybe Google and find a ton of sketchy resume consultant services that charge an arm and a leg. Or maybe you turn to family and friends to give you feedback. Well we are here to help facilitate that review process. There needs to be a reliable source for high quality resume feedback and we are striving to be that source. In the end, we have experienced the problem, we know the feeling and want to fix it.
	</p>
	<h3>How does it work?</h3>
	<p>We want you to feel as comfortable as possible when using our product so we have devoted an entire <a href="/howitworks">How it works</a> page to explaining our process. Please go check it out and let us know if you have any questions.
	</p>
	<h3>Who is going to be reviewing my resume?</h3>
	<p>We have a team of resume reviewers that will be assisting our user base in critiquing and editing your submitted resume. Your submission is completely private and all personal information is removed when someone reviews it. If it makes you feel more comfortable, please feel free to remove your personal information before submitting your resume.
	</p>
	<h3>Is my personal information private?</h3>
	<p>Absolutely, yes. Your submission is completely private and all personal information is removed when someone reviews your resume. If it makes you feel more comfortable, please feel free to remove your personal information before submitting your resume.
	</p>
		<br \>
		<p>Thank you for using our site and we look forward to hearing how many more interviews you are getting.</p>
		<br \>
		<p>Sincerely,
		<br \> 
		<strong>The Resume Review Team</strong>
		</p> 
</div>