<div class="content">
	<h1>How Resume Review Works</h1>
	<br \>  
	
	
	<h2>The Submission Process</h2>
	<h3>Submit Your Resume</h3> 
	<p>Once you are ready to submit your resume, you can follow the instructions on the homepage to choose your pricing option (see <a href="#pricing">pricing options</a>) and submit your resume (PDF or Word Document).</p>
	<ul>
		<li>Upon submission of your resume you will receive an email from us within 24 hours(Premium) or 72 hours(Free), depending on the package that you choose.</li>
		<li>The email will include an in-depth analysis of your resume along with suggested edits (see our <a href="#review_process">review process</a>).</li>
		<li>Once you make the revisions, you can resubmit your resume again for a second round review.</li> 
	</ul>
	
	<div id="pricing"><h3>Pricing Options</h3></div> 
	<p>There are two pricing options, Free and Premium. The free version is a trial review for you to sample our review process without having to make a financial commitment. The free review is very thorough and helpful, but with a lower level of detail than that of our Premium package. Our Premium package is the highest quality review that we currently offer and will absolutely solve all of your resume needs. </p>
	<h5>Free Review:</h5> 
	<ul>
		<li>1 review of the first page of your resume returned within 72 hours of submission</li>
		<li>General review of the grammar in your resume</li>
		<li>General review on the format of your resume</li>
		<li>3 specific suggestions on the content within your resume</li> 
	</ul>
	<h5>Premium Review ($14.99):</h5> 
	<ul>
		<li>3 professional reviews of your entire resume (resume and cover letter) returned within 24 hours of submission</li>
		<li>In depth review of the grammar in your resume</li>
		<li>In depth review on the format of your resume, including entire re-format alternatives</li>
		<li>In depth review of the content within your resume with unlimited suggestions and modifications</li>
		<li>This includes feedback on your current content and also written alternatives you may use as substitutions</li>
		<li>One on one feedback - we will work with you until your resume is perfected</li> 
	</ul>
	
	
	<div id="review_process"><h2>Our Review Process</h2></div>       
	<h3>Step 1: Content Analysis</h3>
	<p>The perfect resume tells a story. It takes the reader through a consistent and positive recap of the candidate's career history. We aim to provide detailed revisions that will help you achieve this story across all areas of your resume.
	</p> 
	<ul>
		<li>We evaluate the words and statements provided in all sections of your resume.</li>
		<li>After reviewing the content, we assess the general theme and message you are portraying as the candidate and optimize for that throughout the resume.</li>
		<li>Once we have a clear understanding of your experience, education, and goals we decipher and analyze each sentence throughout the resume.</li>
		<li>For certain sentences we will provide commentary and analysis, while for others we will offer written alternatives for your use.</li>
		<li>Our goal is to tell a consistent positive story, using well-written sentences and very specific detail that will make you stand out to the reader.</li>
	</ul>
	<h3>Step 2: Grammar Review</h3>
	<p>A poorly written resume with grammatical errors is an easy criteria to filter out unwanted resumes. After all of the hard work adding great content to your resume, don't fall victim to something as trivial as grammatical errors.
	</p> 
	<ul>
		<li>After thoroughly reviewing, editing, and commenting on the content throughout your resume, the next step in our process is to re-read all sections to assure all grammar is correct.</li>
		<li>This includes, but is not limited to reviewing the use of periods, capitalization, tenses, action-verbs, and repetitiveness.</li>
	</ul>
	<h3>Step 3: Format Review</h3>
	<p>We don't believe in a one-size-fits-all layout. To us the key is to make sure that your resume catches the reader's eye and when we review your format we look for consistency, uniqueness, and professionalism - all of the key elements to make sure you don't get lost in the pile.
	</p> 
	<ul>
		<li>The last and final step in our review process is to evaluate the overall format of your resume.</li>
		<li>We look for consistency, uniqueness, and professionalism when formatting a resume.</li>
		<li>We will tweak the formatting of your current resume, or often provide an entire reformat to display alternatives to your current style.</li>
		<li>Our goal is to make sure that your resume stands out in the most positive way possible, and to eliminate any chances for it to be overlooked because of poor formatting.</li>
	</ul>
		<br \>
		<p>If there are any parts of our process that are not clear or you would like more information on, please do not hesitate to contact us at <a mailto>info@resumereview.me</a> .</p>
</div>