
	<!-- Main Container -->
	 
			
			<div class="content">
				<div class="page-header">
					<h1>A great <font color="#f5a43e" decoration="underline">résumé</font> is the first step.</h1><br \>
					<h3>Start the feedback process in <u><a href="#submit" class="submit_link">less than 30 seconds</a></u>.
					</h3>
				</div>
				<div class="row show-grid">
					<div class="steps span-one-third divider">
						<img class="center" src="assets/resume.png" alt="resume">    
						<h3><strong>Step 1:</strong></h3>
						<p>Upload your resume (confidentially, of course). We ask for the position you are seeking so the reviewers can evaluate your resume with that in mind.</p> 
					</div>  
					<div class="steps span-one-third divider">
						<img class="center" src="assets/friends.png" alt="peer review">    
						<h3><strong>Step 2:</strong></h3>
						<p>Receive an email with detailed feedback on your resume/cover letter from our team of resume reviewers. Use this feedback to tweak your resume until it is perfect.</p> 
					</div>
					<div class="steps span-one-third">
						<img class="center" src="assets/hands.png" alt="handshake">    
						<h3><strong>Step 3:</strong></h3>
						<p>Submit your new and improved resume and get the job you have been dreaming of!</p> 
					</div>
				</div>
				<div class="center_bar row show-grid">
					<div class="span-two-thirds">	
						<h3>Submit Your Resume Now To Receive Feedback!</h3>
					</div>
					<div class="span-one-third">
						<a class="btn large primary" href="#submit">Submit!</a>
					</div>
				</div>
				<div class="bottom_half row">
					<div id="submit"></div> 
					<div class="submit_field span10 offset3 hidden">
							<iframe height="468" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://electronicaoasis.wufoo.com/embed/r7x2x3/"><a href="http://electronicaoasis.wufoo.com/forms/r7x2x3/">Fill out my Wufoo form!</a></iframe>
					</div>
				</div> 
				<div class="row value_prop">
					<h3>Our Review Criteria</h3> 
					<br \>  
						<div class="span-one-third ">   
							<h5>Content</h5>
							<blockquote>
								<p>The perfect resume tells a story. It takes the reader through a consistent and positive recap of the candidates career history. We aim to provide detailed revisions that will help you achieve this story across all areas of your resume.</p>
							</blockquote>
						</div>
						<div class="span-one-third">
							<h5>Grammar</h5> 
							<blockquote> 
								<p>A poorly written resume with grammatical errors is an easy criteria to filter out unwanted resumes. After all of the hard work adding great content to your resume, don't fall victim to something as trivial as grammatical errors. <strong>Let us review it for you</strong>.</p>
							</blockquote>
						</div>
						<div class="span-one-third">
							<h5>Format</h5>
							<blockquote>
								<p>We don't believe in a one-size-fits-all layout. To us the key is to make sure that your resume catches the reader's eye and when we review your format we look for consistency, uniqueness, and professionalism - all of the key elements to make sure you don't get lost in the pile.</p>  
							</blockquote>
						</div>   
				</div>
				<div class="row alignright">
					<div class="span16">
					 <a href="/howitworks#review_process">Read More On Our Review Process</a>
					</div>
				</div>
				<div class="row example_module">
					<h3>Example Feedback</h3>
					<div class="span14 offset2">
						<div class="row">
							<div class="span6">
								<ul class="media-grid">
									<li>
										<h5>Cover Letter</h5>
										<div class="thumbnail_images">
											<img class="thumbnail" src="/assets/sample_cover_letter.png">
										</div> 
									</li>
								</ul>
							</div> 
							
							<div class="span6 offset1">
								<ul class="media-grid">
									<li>
										<h5>Resume</h5> 
										<div class="thumbnail_images">
										<img class="thumbnail" src="/assets/sample_resume.png">
										</div>
									</li>
								</ul>
							</div>
						</div> 
					</div>
				</div>
				<div class="contact_us span16 center">
					<h6>Comments and feedback can be sent to <a mailto>info@resumereview.me</a></h6>
				</div>
			</div>
			
		 


