
	<!-- Main Container -->
	 
			
			<div class="content">
				<div class="page-header">
					<h1>A great <font color="#f5a43e" decoration="underline">resume</font> is the first step.</h1><br \>
					<h3>Start the feedback process in <u>less than 30 seconds</u>.
					</h3>
				</div>
				<div class="row show-grid">
					<div class="steps span-one-third divider">
						<img class="center" src="assets/resume.png" alt="resume">    
						<h3><strong>Step 1:</strong></h3>
						<p>Upload your resume (confidentially, of course). We ask for the position you are seeking so the reviewers can evaluate your resume with that in mind.</p> 
					</div>  
					<div class="steps span-one-third divider">
						<img class="center" src="assets/friends.png" alt="peer review">    
						<h3><strong>Step 2:</strong></h3>
						<p>Receive an email with feedback on your resume from a non-biased Resume Review user base. Use this feedback to tweak your resume until it is perfect.</p> 
					</div>
					<div class="steps span-one-third">
						<img class="center" src="assets/hands.png" alt="handshake">    
						<h3><strong>Step 3:</strong></h3>
						<p>Submit your new and improved resume and get the job you have been dreaming of!</p> 
					</div>
				</div>
				<div class="center_bar row show-grid">
					<div class="span-two-thirds">	
						<h3>Submit Your Resume Now To Receive Feedback!</h3>
					</div>
					<div class="span-one-third">
						<a class="btn large primary" href="#submit">Submit!</a>
					</div>
				</div>
				<div class="bottom_half row show-grid">
					<div class="submit_field span10 offset3 hidden">    
						<div id="submit">
						<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

						<script type="text/javascript">
						var q7x3z9 = new WufooForm();
						q7x3z9.initialize({
						'userName':'electronicaoasis', 
						'formHash':'q7x3z9', 
						'autoResize':false,
						'height':'300',
						'header':'hide'});
						q7x3z9.display();
						</script> 
						</div>
					</div>
				</div>
				<div class="testimonial span16 center">
					<h6>Comments and feedback can be sent to info at resumereview.me</h6>
				</div>
			</div>
			
		 


