<!-- Header -->
		<div class="topbar">    
			<div class="container">
				<a class="brand">
				 	<strong>Resume Review</strong>
				</a>
			</div>
		</div> 
	<!-- End Of Header -->
	<!-- Main Container -->
		<div class="container">  
			
			<div class="content">
				<div class="page-header">
					<h1>If you get the interview,</h1>
					<br \>
					<h1 id="orange">you might just get the job.</h1>
				</div>
				<div class="row show-grid">
					<div class="span-one-third divider">
						<img class="center" src="assets/resume.png" alt="resume">    
						<h3>Step 1:</h3>
						<p>People who have more than 3 peers review their resume increase their chances of getting a callback by 30%</p> 
					</div>  
					<div class="span-one-third divider">
						<img class="center" src="assets/friends.png" alt="peer review">    
						<h3>Step 2:</h3>
						<p>People who have more than 3 peers review their resume increase their chances of getting a callback by 30%</p> 
					</div>
					<div class="span-one-third">
						<img class="center" src="assets/hands.png" alt="handshake">    
						<h3>Step 3:</h3>
						<p>People who have more than 3 peers review their resume increase their chances of getting a callback by 30%</p> 
					</div>
				</div>
				<div class="center_bar row show-grid">
					<div class="span-two-thirds">	
						<h3>Submit Your Resume Now To Receive Feedback!</h3>
					</div>
					<div class="span-one-third">
						<a class="btn large primary" href="#submit">Submit!</a>   
					</div>
				</div>
				<div class="bottom_half row show-grid">
					<div class="submit_field span10 offset3 hidden">    
						<div id="submit">
						<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

						<script type="text/javascript">
						var q7x3z9 = new WufooForm();
						q7x3z9.initialize({
						'userName':'electronicaoasis', 
						'formHash':'q7x3z9', 
						'autoResize':false,
						'height':'300',
						'header':'hide'});
						q7x3z9.display();
						</script> 
						</div>
					</div>
				</div>
				<div class="testimonial span16 center">
					<h4>Testimonial Goes Here!</h4>
				</div>
			</div>
			
			<footer>
				<p>&copy; ResumeReview.me 2012</p>
			</footer>
			
		</div>  <!-- /container -->


