<div class="content">
	<div class="pricing-header">
		<h1>Get started in less than <font color="#f5a43e" decoration="underline">30 seconds </font>by submitting your resume now.</h1><br \>
	</div>
	<div class="apg-mini apg-mini-2">
		<!-- First Option -->
		<div class="apg-option">		
			<div class="apg-header">
				<h1>Free</h1>
			</div>

			<div class="apg-content">
				<p>Submit 1 resume and get user feedback within <strong>72 hours</strong> of  your submission.</p>

				<ul>
					<li><strong>1 Review</strong> in 72 Hours</li>
					<li><strong>Max of 10</strong>  content and styling edits</li>
					<li><strong>User</strong> generated feedback</li>
				</ul>
			</div>


			<div class="apg-footer">
				<span class="apg-price">Free</span>
			  	<a href="/free-price" class="button">Order Now</a>
			 </div>
		</div>
	
		<!-- Second Option  -->
		<div class="apg-option">		
			<div class="apg-header">
				<h1>Premium</h1>
			</div>

			<div class="apg-content">
				<p>Submit 3 resumes and get 3 professional reviews within <strong>24 hours</strong> of  your submission.</p>

				<ul>
					<li><strong>3 Reviews</strong> in 24 Hours</li>
					<li><strong>Unlimited</strong> content and styling edits</li>
					<li><strong>Professional</strong> feedback</li>
				</ul>
			</div>


			<div class="apg-footer">
				<span class="apg-price">$14.99</span>
			  	<a href="/premium-price" class="button">Order Now</a>
			 </div>
		</div>


	</div>
</div> 