/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/                    

.center_bar {
	background-color:#005b98;   
	padding:0;
	height:70px; 
	width:1000px;
	margin-top:30px;
}   

.center_bar h3 {
	color:#fff; 
	font-size:24px;
	padding:15px;
	margin-left:20px; 
	text-shadow: 0px 1px 1px #686868;
}  

a.btn.large.primary { 
	margin-top:10px; 
	padding:15px; 
	margin-left:50px;
	width:150px; 
	background-color:#f5a43e;
	font-weight: bold;  
	text-align:center;
}  

.center {
	text-align:center;
}   

img.center {    
	display:block;
	margin-left: auto;   
	margin-right: auto;   
}      

.divider {
	border-right:1px solid #e7e7e7;
	padding-right:5px;
}    

.submit_field {
	margin-top:10px;
	padding:30px; 
	border:1px solid black;
	background-color: #fff;
} 

#div.container.ltr {
	border:1px solid black;
}        

/*.testimonial.modify{
	margin-top: -250px;
}     */

.testimonial {
	padding:20px;
}    
         
.bottom_half {
	background-color: #b7b7b7;  
	width: 960px;  
	padding-right:40px;  
	padding-top:5px; 
	padding-bottom:10px;
}             

/*#submit {
	padding:20px;
	border:1px solid black;
	max-height: 250px;
}             */

h1#orange {
		color:#f5a43e; 
		margin-top:-10px;
	}    
	
	
.social_links {
	float:right;
	margin-top:25px; 
	margin-right:200px;
	width:300px; 
	z-index:+5; 
	display:block;
}  

.twitter_share, .fb-like, .linked_share {
	float:right;
	width:100px;
	margin-top:-30px; 
	margin-right:-30px;
}       

.twitter_share{
	float:right;
	margin-right:-60px;
}

.fb-like {
	margin-right:140px;
	float:right;
} 

.linked_share {
	float:right;
	margin-right:45px; 
}      

.steps p {
	font-size:15px ;
}              

.social_header {
	background-image:url("/assets/header_background.gif");
	background-repeat:repeat; 
	background-color: transparent;
	height:60px;
	margin-top:-90px; 
	margin-left:-200px;
	z-index:-5; 
}
#header-ad {  
	margin-top:-60px;
	margin-right:40px;
	float:right; 
}  

/* Pricing Page */

.pricing-header {
  background-color: #fff; 
	border-bottom: 1px #efefef solid;
  padding: 20px 20px 10px;
  margin: 20px 20px 20px 20px; 
	text-align: center;  
	width: 700px; 
	margin-left: 100px;
}   


/* Testimonial */
                 
.testimonial { 
	/*position:relative; */
	overflow:hidden; 
	/*height: 100px*/;
/*  margin-left: -10px; */  
	margin-top: 50px;
	padding:15px 10px 25px 25px; 
	background: url(/assets/quote.png) 5px 5px no-repeat; 
	background-color: #fdfdfd;
	font-family:Georgia, "Times New Roman", Times, serif; 
	color:#000;
	opacity: 1.2;
	filter:alpha(opacity=80);
	/*-moz-border-radius:10px; 
	 -webkit-border-radius:10px; 
	 -khtml-border-radius:10px;*/ 
  border-bottom: 1px #efefef solid; 
	 }

.testimonial p {
	margin-left:60px;
	margin-top:20px;
	font-size: 22px;
	line-height:28px;
	opacity: 1;
}

.testimonial p.tiny {
	font-size:16px; 
	color:#87909a; 
	line-height:21px; 
	margin-bottom:0px; 
	float:right;      
	margin-right: 70px;
}  

/* Contact Us */

.contact_us {
  padding-top: 40px;
}       

/* Example Module */

.example_module {
  padding-top:20px;
  }  
  
.thumbnail_images {
  padding: 15px;
  /*margin-left:20px;*/ 
  height:100%;
  background-color:#898989;  
  
}

.example_module h3 {
  padding: 10px;
  padding-left:20px; 
  padding-bottom:20px;
  font-size: 26px;
}    

.example_module h5 {
  font-size:18px;
}  

/* value_prop */  

.value_prop { 
  padding: 10px 0px 0px 20px;
  margin-top:25px;
  margin-left:10px; 
}     

.value_prop h3 {
  font-size:26px;
}     

.value_prop h5 {
  font-size:18px;
}


.alignleft {
  float: left;
  margin: 0px 21px 48px 0px;
} 

.alignright a {
  float: right; 
  padding-top: 25px;
  font-color: #9e9e9e;
}

